Faker
psycopg2-binary
python-dateutil
python-dotenv
six
typing_extensions
ruff
agate
annotated-types
attrs
babel
certifi
charset-normalizer
click
colorama
daff
dbt-adapters
dbt-common
dbt-core
dbt-extractor
dbt-semantic-interfaces
dbt-starrocks
deepdiff
idna
importlib-metadata
isodate
Jinja2
jsonschema
jsonschema-specifications
leather
Logbook
MarkupSafe
mashumaro
minimal-snowplow-tracker
more-itertools
msgpack
mysql-connector-python
networkx
ordered-set
packaging
parsedatetime
pathspec
protobuf
pydantic
pydantic_core
python-slugify
pytimeparse
pytz
PyYAML
referencing
requests
rpds-py
sqlparse
text-unidecode
urllib3
zipp
PyMySQL
kafka-python
